 <% provide(:title, 'Artists') %>
<p class="all">  All artists, all indie, all OPM.
</p>

<p id="about">NDFY (pronounced "indie-fy") is a <br>
movement that aims to bring back <br>
OPM (acronym for Original <br>
Pilipino Music) to its former glory. <br>
NDFY ushers in OPM3.0 by <br>
inviting Filipino music artists who <br>
subscribe to the independent <br>
music mindset.
  <br>
  <br>
  Are you an artist who wants to be <br>
  part of this movement? Feel free to <br>
  email us via <span id="email"> NDFYme@gmail.com </span> <br>
  and we'll get in touch with you <br>
  immediately
  <br>
  <br>Go forth and Indiefy!
  </p>

  <div class="a1"></div> <!--%= link_to "Box of Mocha", '/ndfy/artists/box_of_mocha' %><a href="http://localhost:3000/ndfy/albums">Break Ke Baad</a>-->
  <div class="a2"></div><!--<a href="http://localhost:3000/ndfy/albums">Housefule2</a>-->
    <div class="a3"></div>
    <div class="a4"></div>
    <br>
<div class="a5"></div>
 <div class="a6"></div>
  <div class="a7"></div>
   <div class="a8"></div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>

<%= render :partial => 'layouts/footer' %>
