 <% provide(:title, 'Home') %>
<p class="welcome">
  Welcome the new phase of<br>
  fresh Filipino Music. Now.
  </p>
  <p class="discover">
  Discover fresh tracks from the Philippines' independent <br>
  music scene and take part in the movement.
  </p>
  <p class="go">
  Go forth and <span class="italic">indiefy!</span>
  </p>

  <div class="ss">
  <div id="sign"><a href="">Sign in using F</a></div>
  <div id="shut"><a href="http://localhost:3000/ndfy/artists">Shut up, I want Music!</a></div>
</div>
